h1 {
  color: white;
  text-decoration: underline;
  margin: 20px auto;
  padding-left: 8rem;
  padding-right: 8rem;
}
body {
  background-color: rgb(91, 123, 211);
  margin: 20px auto;
  padding-left: 8rem;
  padding-right: 8rem;
  border: rgb(120, 143, 235) dashed 9px;
}
.container {
  width: 1000px;
  border: rgb(120, 143, 235) solid 7px;
  border-radius: 10px;
  padding: 0%;
  margin: 20px;
}
ol {
  padding: 5rem;
}
.card {
  margin: 10px auto;
}
.card-body {
  background-color: white;
}
#even {
  background-color: white;
  color: black;
}
#odd {
  background-color: rgb(226, 226, 226);
  color: black;
}

/* DRAFT CSS */
/* h1{
    text-align: center;
    color: white;
    
}

body{
    background-color: lightseagreen;
    margin: 20px auto;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

h2{
    color:white;
} */